<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid mx-3">
    <a class="navbar-brand" href="#"><i class="fa-solid fa-plane"></i></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/places">Explore</a>
        <a class="nav-link" href="/places/add">Contribute</a>
        <a class="nav-link" href="/community">Community</a>
      </div>

      <div class="navbar-nav ms-auto">
        <div class="search-box">
          <form id="searchForm" action="/places/search" method="get" class="needs-validation" novalidate>
            <button type="button" class="btn-search" id="searchButton">
              <i class="fas fa-search"></i>
            </button>
            <input
              type="text"
              name="query"
              class="input-search"
              placeholder="Search place.."
              id="searchInput"
              required
            />
            <div class="invalid-feedback">
              Please write a short description.
            </div>
          </form>
        </div>
        

        <div class="col-sm-1 col-sm-1 d-none d-sm-block" style="font-size: 5vh">
          |
        </div>

        <div class="col" style="padding-top: 0.2rem">
          <% if (!currentUser) { %>
          <a class="nav-link me-3" aria-current="page" href="/users/register"
            ><b>Register</b></a
          >
          <% } else { %>
          <a
            class="nav-link me-3"
            href="/users/logout"
            onclick="return confirmLogout()"
            ><b>Logout</b></a
          >
          <% } %>
        </div>
      </div>
    </div>
  </div>
</nav>

